<article>
<h1>About</h1>
<p class="content">Want to go on reddit but don't want to be overwhelmed by the amount of contents on the site? This site crawls reddit every minute and returns the top 5 results available from the site.
                    This way you can still catch up on the latest news without spending as much time </p>

</article>
