<article>
<h1>About</h1>
<p class="content">
    This website crawls reddit to search for the top 5 posts excluding images/videos/tweets.

    The content of the site gets updated every minute.

    Github Repo:<a href="https://github.com/txtcoder/5ddit"> https://github.com/txtcoder/5ddit</a>
</p>
</article>
