<article>
<h1>About</h1>
<p class="content">
    This website crawls reddit to search for the top 5 posts excluding images/videos/tweets.

    The content of the site gets auto refreshed every 10 minutes.

    Github Repo:<a href="https://github.com/txtcoder/5ddit"> https://github.com/txtcoder/5ddit</a>
    <br/> 
    <a href='https://play.google.com/store/apps/details?id=com.tommy.the5ddit&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img width= "200px" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
</p>
</article>
