<h1>Top 5 news from the front page of internet</h1>
<table>
<% @news.each do |new| %>
<tr class=<%= cycle("even","odd")%>>
    <td><%= new[:score] %></td>
    <td><%= link_to  new[:title], new[:url], :target => '_blank' %></td>
    <td>Source: <%=  new[:domain] %></td>
</tr>
<% end %>
</table>
