// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #F6F6F6;
}
table {
    //border-collapse: collapse;
    border: 1px;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    border-spacing:5em;
}

td {
    //padding-left: 20px;
    //background-color: #D3D3D3;
 //   -webkit-border-radius: 2em;
  //  -moz-border-radius: 2em;
}

tr {
}

a:visited {
   color: #7D26CD;
}
.even {
    background: #ffffff;
    border-bottom:solid 20px #FFFFFF;
    border-right:solid 15px #FFFFFF;
}

.odd {
    background: #E8E8EE;
    border-bottom:solid 20px #E8E8EE;
    border-right:solid 15px #E8E8EE;
}

.even .odd {
    padding: 10px;
    margin: 20px;
}

@media (max-width: 767px) {
    .even .odd {
        padding: 0px;
        margin: 0px;
        border-right:10px;
    }
    ul {
        padding: 10px;
    }
    table {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.title {
    font-size: 20px;
}

.source {
    font-size: 15px;
    font-color: #545454;
}

.details {
    font-size: 10px;
    font-color: #434343;
}

.hotness {
  overflow: hidden;
    border: 0px;
    white-space: nowrap;  
}

hr {
    display: block;
    margin-bottom: 2px;
    font-size:2px;
    line-height: 2px;
}

ul, li
{
    list-style-type: none;
}

blockquote{
    font-size: 12px;
}

.firstul {
    padding-left:0;
}

.commentTitle{
    font-color: #808080;  
    font-size: 0.8em;
    font-family: "Times New Roman", Georgia, Serif;
}
.commentContent{
    padding-left: 20px;
}

.showcomments:hover{
    cursor: pointer;
}
