// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
    width: 40%;
    margin-left:30%;
    margin-right:30%
}

.content {
    font-size: 18px;
}
